{{> html/header}}
<h1>A-Frame themes</h1>
<ul>
  <li><a href="theme-default.html">Hello World default theme (red)</a></li>
  <li><a href="theme-red.html">Hello World red theme</a></li>
  <li><a href="theme-blue.html">Hello World blue theme</a></li>
  <li><a href="theme-green.html">Hello World green theme</a></li>
  <li><a href="theme-yellow.html">Hello World yellow theme</a></li>
</ul>
{{> html/footer}}
