/// Theme colors
$color-yellow:  rgb(255, 198, 93) !default;
$color-green:   rgb(123, 200, 164) !default;
$color-blue:    rgb(76, 195, 217) !default;
$color-red:     rgb(239, 45, 94) !default;
$color-gray:    rgb(237, 49, 96) !default;
$color-white:   rgb(255, 255, 255) !default;

$color-bg-primary:            $color-blue;
$color-text-primary:          darken($color-blue, 35%);
$color-text-primary-shadow:   darken($color-blue, 15%);

$color-text-alert:            darken($color-red, 35%);

$color-a-bg:                  rgba($color-bg-primary, 30%);
$color-a-bg-active:           darken($color-a-bg, 30%);
