/// Theme colors
$color-yellow:  rgb(255, 198, 93) !default;
$color-green:   rgb(123, 200, 164) !default;
$color-blue:    rgb(76, 195, 217) !default;
$color-red:     rgb(239, 45, 94) !default;
$color-gray:    rgb(102, 102, 102) !default;
$color-white:   rgb(255, 255, 255) !default;

$color-bg-primary:            $color-red;
$color-text-primary:          $color-white;
$color-text-primary-shadow:   $color-white;

$color-text-alert:            rgb(237, 49, 96);

$color-a-bg:                  $color-gray;
$color-a-bg-active:           rgba(darken($color-gray, 25%), 30%);
