<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#if scene.title}}{{scene.title}} | {{/if}}{{app.name}}</title>
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="{{app.keywords}}">
    <meta name="theme-color" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" sizes="192x192" href="assets/static/aframe/logo-yellow-192.png">
    <link rel="apple-touch-icon" href="assets/static/aframe/logo-yellow-152.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- A-Frame -->
    {{! bundle of A-Frame core and external components (src/aframe/aframe-base.js) }}
    <script src="js/aframe-base.js"></script>
    {{! bundle of your A-Frame comonets, shaders, primitives etc. (src/aframe/aframe-app.js) }}
    <script src="js/aframe-app.js"></script>
    <!-- common -->
    <link rel="stylesheet" type="text/css" href="style/app-theme-yellow.css">
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
