<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{#if scene.title}}{{scene.title}} | {{/if}}{{app.name}}</title>
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="{{app.keywords}}">
    <meta name="theme-color" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" sizes="192x192" href="assets/static/aframe/logo-192.png">
    <link rel="apple-touch-icon" href="assets/static/aframe/logo-152.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- common -->
    <link rel="stylesheet" type="text/css" href="style/app-theme.css">
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
  {{> mkungla.github.io/github-corner}}
