################################################################################
# FILES to ignore
################################################################################
# Files to ignore
*.sw[mnop]
.DS_Store
*.log
npm-debug.log*
package-lock.json
devel/ssl/localhost.crt
devel/ssl/localhost.key

################################################################################
# DIRECTORIES to ignore
################################################################################
build/*
**/dist/*
**/devel/coverage/*
**/public/*
**/tmp/*
node_modules/*

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
