/* Webapp wrapper */
body {
  height:auto;
  width:100%;
  margin:0;
  padding:0;
}
header {
  margin: 0 0 0 200px;
  padding: 0 0 0 10px;
  height:110px
}
main {
  display:block;
  height: calc(100vh - 135px);
  margin-left: 200px;
  padding: 0px 10px;
  background-color: $color-bg-body;
  h1  {
    text-transform: uppercase;
    color: $color-bg-primary;
    margin-bottom: 2px;
  }
}
sup.app-version {
  color: $color-text-primary;
  font-weight: 600;
  padding-left:6px;
}
