<nav>
  <a href="index.html">Dash</a>
  <hr>
  <h4>Examples</h4>
  <a href="example-without-aframe.html">App without A-Frame</a>
  <a href="example-width-aframe.html">App with A-Frame</a>
  <a href="example-aframe-stats.html">A-Frame stats</a>
  <a href="offline.html">Offline page</a>
  <h4>Development</h4>
  <a href="example-variables.html">Variables</a>
  <a href="example-theme-images.html">Images</a>
</nav>
