<div class="controls">
  <!-- play/pause -->
  <div id="app-timer">00:00:00</div>
  <button id="play-pause" class='play-pause playing'></button>
  <button id="start-stop" class='start-stop'></button>
</div>
