<nav>
  <h4>App</h4>
  <a href="{{urlPrefix}}/index.html">Home</a>
  <a href="example-without-aframe.html">App without A-Frame</a>
  <h4>Offline</h4>
  <a href="offline/status.html">Status</a>
  <h4>A-Frame</h4>
  <a href="example-aframe-stats.html">A-Frame Stats</a>
  <a href="example-aframe.html">A-Frame no play/pause</a>
  <h4>Development</h4>
  <a href="example-devel-variables.html">Variables</a>
  <a href="example-devel-images.html">Images</a>
</nav>
