{{> pwa-partials/header }}
<div id="offline">
  <img src="{{urlPrefix}}/assets/pwa/android-chrome-512x512.png" width="410" height="410"/>
  <h1>Offline</h1>
  <h2>Application is currently offline</h2>
  <footer>
    <small><strong>{{title}}</strong> v: {{version}}</small>
    <small><strong>A-Frame</strong>  v: {{aframe}}</small>
  </footer>
</div>
{{> pwa-partials/footer }}
