<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>App is offline</title>
  </head>
  <body>
    <div id="offline">
      <img src="/assets/pwa/android-chrome-512x512.png" width="410" height="410"/>
      <h1>Offline</h1>
      <h2>Application is currently offline</h2>
    </div>
  </body>
</html>
