{{> html/header}}
<h1>APP</h1>
<ul>
  <li><a href="/offline.html">Offline page</a></li>
  <li><a href="/404.html">404 page</a></li>
  <li><a href="theme-blue.html">Hello World blue theme</a></li>
  <li><a href="theme-green.html">Hello World green theme</a></li>
  <li><a href="theme-yellow.html">Hello World yellow theme</a></li>
</ul>
{{> html/footer}}
