// Default theme
$color-bg-primary:            $color-red;
$color-text-primary:          $color-white;
$color-text-primary-shadow:   $color-white;
$color-text-alert:            rgb(237, 49, 96);
$color-a-bg:                  $color-gray;
$color-a-bg-active:           rgba(darken($color-gray, 25%), 30%);
